.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
*.pdf
fm_root/root_2/1HQywanmMpfkO9RSXJirG25h6lsICcg7/8443eeaadc2ae203c7f64fcd7679690c.jpg
fm_root/root_2/1HQywanmMpfkO9RSXJirG25h6lsICcg7/9d158a4d32b32729a4f1bab7e1f32133.jpg
fm_root/root_2/3819ec5d26666a89868a75acc45ac968.png
fm_root/root_2/3PouR9mOq081vcUSdyZQzgr4XVGWpBND/9ydhmGLxpnAHiqPjU0r3os2tQMNOEXTu/124e847277642b12502a2c2830fb26b5.jpg
fm_root/root_2/3PouR9mOq081vcUSdyZQzgr4XVGWpBND/9ydhmGLxpnAHiqPjU0r3os2tQMNOEXTu/1976247d79754dce46e56bd0506234e9.jpg
fm_root/root_2/3PouR9mOq081vcUSdyZQzgr4XVGWpBND/9ydhmGLxpnAHiqPjU0r3os2tQMNOEXTu/3488f18111e73decb735b4f512def395.jpg
fm_root/root_2/3PouR9mOq081vcUSdyZQzgr4XVGWpBND/9ydhmGLxpnAHiqPjU0r3os2tQMNOEXTu/721d340df08515dfa13e120ebc9b686b.png
fm_root/root_2/3PouR9mOq081vcUSdyZQzgr4XVGWpBND/9ydhmGLxpnAHiqPjU0r3os2tQMNOEXTu/f99ffee5d5e0edaa87ae1e50c9716f50.jpg
fm_root/root_2/df4200ae8ab9a1a8e9de3e4c239d9fe4.jpg
fm_root/root_2/VesJQwcUdy8OvHmF9WPzGZngISK6b20u/df6ab2df8638751183147e0d9aa6e0a4.png
news_content/news-RZ8fNIPycTV0X2a73tnAMpui.txt
news_content/news-VoN2Mai3A1Rc8yuHO9UTL7hm.txt
news_content/news-XkQFRp2mrN9HVvO1WYwgTqGE.txt
upload/6929a97e09eb0b8cdfcf6b7a7a96f9ff.gif
upload/6ec538d3b49bf16d9b0beec0e5bee48f.png
upload/9ea0f6a252f780e05865073b917267b5.jpg
